<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>H1 text</h1>
    <h2>H2 text</h2>
    <h3>H3 text</h3>
    <p>"Code is like humor. When you have to explain it, <span style="color: darkgreen; font-weight: bold">it’s bad</span>" – Cory House</p>
    <a href="https://stepik.org/users/1169835396/certificates" target="_blank">Certificate</a>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item </li>
        <li>Item </li>
        <li>Item </li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" placeholder="Text">
        <input required type="email" placeholder="Email">
        <input required type="password" placeholder="Password">
        <textarea placeholder="Text_2"> </textarea>
        <button type="submit">Click</button>
    </form>
    <table>
        <thead>
                <tr>
                    <td>Header 1</td>
                    <td>Header 2</td>
                    <td>Header 3</td>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <img alt="Certificate.png" src="https://stepik.org/certificate/4f35a0462b935cedea7d4443fb977cc18ed36515.png?language=en&resolution=high"
         style="width: 700px">
</div>
</body>
</html>